<!DOCTYPE html> {% extends "CBV_app/CBV_base.html" %} {% block body_block %}
<div class="jumbotron">
    <h1> Here is the details of the school</h1>

    <h2>Welcome to school</h2>
    <p>School name: {{school_details.name}}</p>

    <p>Principal's name: {{school_details.principal}}</p>

    <p>School location: {{school_details.location}}</p>


    <h3>Students</h3>
    {% for a in school_details.students.all %}
    <p>{{a.name}} who is {{a.age}} years old</p>

    {% endfor %}
    <div class="container">
        <p><a class="btn btn-warning" href="{% url 'CBV_app:update' pk=school_details.pk %}">Update</a></p>

    </div>
    <div class="container">
        <p><a class="btn btn-danger" href="{% url 'CBV_app:delete' pk=school_details.pk %}">Delete</a></p>

    </div>



</div>




{% endblock %}